*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1{
    text-align: center;
    color: red;
    font-size: 12rem;
}

/*p{
    text-align: center;
    color: red;
    font-size: 12rem;
}*/